<template>
<div id="home">
  <button @click="cardActive = !cardActive"  class="card">
  <productCard
  qoute="Invoice Financing"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
  />
  </button>
  <div class="dropdownCard" v-show="cardActive">
    <router-link to="/invoice/conventional" class="cardItems">
      <productCard
      qoute="Convesional Invoice"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      class="card" />
    </router-link>
    <router-link to="/invoice/productive" class="cardItems1" >
      <productCard
      qoute="Sharia Invoice"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      class="card" />
    </router-link>
  </div>
<button @click="cardActive1 = !cardActive1" class="card" >
  <productCard
  qoute="OSF Financing"
  description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
  />
</button>
  <div class="dropdownCard" v-show="cardActive1">
    <router-link to="/osf/conventional" class="cardItems">
      <productCard
      qoute="Convesional OSF"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      class="card" />
    </router-link>
    <router-link to="/osf/productive" class="cardItems1">
      <productCard
      qoute="Sharia OSF"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      class="card" />
    </router-link>
  </div>

  <router-link to="/sbn">
    <productCard
    qoute="SBN"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
    class="card" />
  </router-link>
  <router-link to="/reksadana">
    <productCard
    qoute="Reksadana"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
    class="card" />
  </router-link>
</div>
</template>

<script>
import productCard from '../components/productCard'

export default {
  name: 'Home',
  components: {
    productCard
  },
  data: function () {
    return {
      cardActive: false,
      cardActive1: false
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
.corausel {
  grid-area: corousel;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.card:hover {
  background-color: rgb(236, 236, 236);
}
.dropdownCard {
  display: grid;
  grid-template-areas: "cardItems1 cardItems";
  grid-template-columns: repeat (2, 1fr );
}
.cardItems1 {
  grid-area: cardItems1;
}
.cardItems {
  grid-area: cardItems;
}
.select {
  background-color: #D93636;
}
.card>a{
  text-decoration: none;
}
button {
  background-color: #fff;
  border: none;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
}
button:focus {
  border: none;
  outline: none;
  background-color: rgb(236, 236, 236);
}
button .card:focus {
  color: #fff;
}
</style>
