<template>
<div>
  <div>
    <label class="fas fa-search"></label>
    <input type="text" id="myInput" placeholder="Search" v-model="search">
  </div>

  <div style="overflow-y:scroll;height:300px;">
  <table class="table">
    <tr class="header">
      <th>Name</th>
      <th>Amount</th>
      <th>Return</th>
    </tr>
    <tr v-for="item in datafilter" :item="item" :key="item.id">
      <td>{{ item.name }}</td>
      <td class="price">{{ item.amount | currency }}</td>
      <td>{{ item.return }}</td>
    </tr>
  </table>
  </div>
</div>
</template>

<script>
import data from '../json/reksadana/reksadana.json'

export default {
  name: 'table Reksadana',
  data () {
    return {
      data,
      search: ''
    }
  },
  computed: {
    datafilter: function () {
      return this.data.filter((item) => {
        return item.name.match(this.search.toUpperCase())
      })
    }
  }
}
</script>
