<template>
<div>
  <div>
    <label class="fas fa-search"></label>
    <input type="text" id="myInput" placeholder="Search" v-model="search">
    <label class="dropdown">
      <span class="sort">SORT</span>
      <ul class="dropdown-content">
        <li><button @click="search = ''">All</button></li>
        <li><button @click="search = 'SBR'">SBR</button></li>
        <li><button @click="search = 'ST'">ST</button></li>
      </ul>
    </label>
  </div>

  <div style="overflow-y:scroll;height:300px;">
    <table class="table">
      <tr class="header">
        <th>Name</th>
        <th>Amount</th>
        <th>Tenor</th>
        <th>Rate</th>
        <th>Type</th>
      </tr>
      <tr v-for="item in datafilter" :item="item" :key="item.id">
        <td>{{ item.name }}</td>
        <td class="price">{{ item.amount | currency }}</td>
        <td>{{ item.tenor }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.type }}</td>
      </tr>
    </table>
  </div>
</div>
</template>

<script>
import data from '../json/sbn/sbn.json'

export default {
  name: 'table Reksadana',
  data () {
    return {
      data,
      search: ''
    }
  },
  computed: {
    datafilter: function () {
      return this.data.filter((item) => {
        return item.name.match(this.search.toUpperCase())
      })
    }
  }
}
</script>
