<template>
<!-- Make a div wrapped slider,set height and width -->
<div class="carousel">
  <!-- Using the slider component -->
  <slider ref="slider" :options="options">
    <!-- slideritem wrapped package with the components you need -->
    <slideritem v-for="(item,index) in someList" :key="index" :style="item.style">{{item.html}}</slideritem>
    <!-- Customizable loading -->
    <div slot="loading">loading...</div>
  </slider>
</div>
</template>

<script>
// import slider components
import {
  slider,
  slideritem
} from 'vue-concise-slider'

export default {
  el: '#app',
  data () {
    return {
      // data list [array]
      someList: [
        {
          style: {
            background: "url('https://placeimg.com/900/300/tech')"
          }
        },
        {
          style: {
            background: "url('https://placeimg.com/900/300/people')"
          }
        },
        {
          style: {
            background: "url('https://placeimg.com/900/300/any')"
          }
        }
      ],
      // Slider configuration [obj]
      options: {
        itemAnimation: true,
        loopedSlides: 2,
        slidesToScroll: 1,
        loop: true,
        autoplay: '3000'
      }
    }
  },
  components: {
    slider,
    slideritem
  }
}
</script>
<style scoped>
.carousel {
  width:100%;
  margin:0;
  height:300px;
  padding: 0;
}
.slider-item {
  transform:scale(0.8);
  transition-timing-function: ease;
  transition-duration: 300ms;
}
.slider-item.slider-active {
  transform:scale(1.0);
  z-index: 999;
}
.slider-item.slider-active-copy {
  transform:scale(1.0);
  z-index: 999;
}
</style>
