<template>
  <div id="productsCard">
        <i class="far fa-file"/>
        <div class="quote">
          <h2>{{qoute}}</h2>
          <p>{{description}}</p>
        </div>
  </div>
</template>

<script>
export default {
  name: 'productCard',
  props: {
    qoute: String,
    description: String,
    toLink: String
  }
}
</script>

<style scoped>
#productsCard {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-areas: "logo quote";
  grid-template-columns: 1fr 20fr;
  gap: 20px;
  cursor: pointer;
}
#productsCard i {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: lighter;
  color: #D93636;
}
.quote {
  grid-area: quote;
  color: black;
  text-decoration: none;
}
.quote h2 {
  color: #D93636;
  text-decoration: none;
}
@media (max-width:720px){
  .quote h2 {
    font-size: 1.3em;
    padding: 0;
  }
  .quote {
    font-size: 0.95em;
  }
}
</style>
