<template>
<div>
  <label class="fas fa-search"></label>
  <input type="text" id="myInput" placeholder="Search" v-model="search">
  <label class="dropdown">
    <span class="sort">SORT</span>
    <ul class="dropdown-content">
      <li>All</li>
      <li>A</li>
      <li>B+</li>
      <li>B</li>
    </ul>
  </label>
</div>
</template>

<script>
// export default {
//   name: 'Search Bar',
//   props: {
//     search: Function
//   }
// }
</script>

<style scoped>

</style>
