<template>
<div>
  <div>
    <label class="fas fa-search"></label>
    <input type="text" id="myInput" placeholder="Search" v-model="search">
    <label class="dropdown">
      <span class="sort">SORT</span>
      <ul class="dropdown-content">
        <li><button @click="search = ''">All</button></li>
        <li><button @click="search = 'A'">A</button></li>
        <li><button @click="search = 'B+'">B+</button></li>
        <li><button @click="search = 'B'">B</button></li>
      </ul>
    </label>
  </div>

  <!-- table konten -->
  <div style="overflow-y:scroll;height:300px;">
    <table class="table">
      <tr class="header">
        <th>Name</th>
        <th>Amount</th>
        <th>Tenor</th>
        <th>Grade</th>
        <th>Rate</th>
      </tr>
      <tr v-for="item in datafilter" :item="item" :key="item.id">
        <td>{{ item.name }}</td>
        <td class="price">{{ item.amount | currency }}</td>
        <td>{{ item.tenor }}</td>
        <td>{{ item.grade }}</td>
        <td>{{ item.rate }}</td>
      </tr>
    </table>
  </div>
</div>
</template>

<script>
import databases from '../../json/invoice/productive_invoice.json'

export default {
  name: 'ProductiveInvoice',
  data () {
    return {
      databases,
      search: ''
    }
  },
  computed: {
    datafilter: function () {
      return this.databases.filter((item) => {
        return item.grade.match(this.search.toUpperCase())
      })
    }
  }
}
</script>

<style>
tr td {
  padding: 8px 4px;
  border-bottom: 1px solid #ddd;
}

.price {
  font-weight: bold;
}

.table {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.header th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Search Bar */
#myInput {
  width: 80%;
  font-size: 14px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 5px;
}

label {
  background-color: #ddd;
  padding: 7px;
  border-radius: 2px;
}

.sort {
  color: #000;
  padding: 5;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #aaa;
  margin-top: 0;
}

.dropdown-content li {
  list-style: none;
  padding: 10px;
  float: none;
}

.dropdown-content li:hover {
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}
ul li button {
  background-color: #fff;
  border: none;
}
ul li button {
  border: none;
  outline: none;
}
</style>
