<template>
  <div id="app">
    <Caraousel />
    <h1>PRODUCT</h1>
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue'
import VueCurrencyFilter from 'vue-currency-filter'
import Caraousel from '../src/components/corausel'

Vue.use(VueCurrencyFilter,
  {
    symbol: 'Rp.',
    thousandsSeparator: '.',
    fractionCount: 0,
    fractionSeparator: ',',
    symbolPosition: 'front',
    symbolSpacing: true
  })

export default {
  name: 'App',
  components: {
    Caraousel
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 50%;
  font-size: 14px;
  margin: 0 auto;
}

@media (max-width: 1024px){
  #app {
    width: 100%;
  }
}
</style>
