<template>
<div>
  <div>
    <label class="fas fa-search"></label>
    <input type="text" id="myInput" placeholder="Search" v-model="search">
    <label class="dropdown">
      <span class="sort">SORT</span>
      <ul class="dropdown-content">
        <li><button @click="search = ''">All</button></li>
        <li><button @click="search = 'A'">A</button></li>
        <li><button @click="search = 'B+'">B+</button></li>
        <li><button @click="search = 'B'">B</button></li>
      </ul>
    </label>
  </div>

  <div style="overflow-y:scroll;height:300px;">
  <table class="table">
    <tr class="header">
      <th>Name</th>
      <th>Amount</th>
      <th>Tenor</th>
      <th>Grade</th>
      <th>Rate</th>
    </tr>
    <tr v-for="item in datafilter" :item="item" :key="item.id">
      <td>{{ item.name }}</td>
      <td class="price">{{ item.amount | currency }}</td>
      <td>{{ item.tenor }}</td>
      <td>{{ item.grade }}</td>
      <td>{{ item.rate }}</td>
    </tr>
  </table>
  </div>
</div>
</template>

<script>
import data from '../../json/osf/conventional_osf.json'

export default {
  name: 'Conventional OSF',
  data () {
    return {
      data,
      search: ''
    }
  },
  computed: {
    datafilter: function () {
      return this.data.filter((item) => {
        return item.grade.match(this.search.toUpperCase())
      })
    }
  }
}
</script>
